
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    src: url('../fonts/OpenSans-Regular-webfont.eot'),
		 url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),	
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    src: url('../fonts/OpenSans-Semibold-webfont.eot'),
		 url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



/* Regular */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    src: url('../fonts/OpenSans-Regular-webfont.eot'),
		 url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-weight: 400;
    font-style: normal;

}

/* Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    src: url('../fonts/OpenSans-Italic-webfont.eot'),
		 url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-weight: 400;
    font-style: italic;

}

/* Light */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    src: url('../fonts/OpenSans-Light-webfont.eot'),
		 url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype');

    font-weight: 200;
    font-style: normal;

}

/* Light Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    src: url('../fonts/OpenSans-LightItalic-webfont.eot'),
		 url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype');
         
    font-weight: 200;
    font-style: italic;

}

/* Semibold */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    src: url('../fonts/OpenSans-Semibold-webfont.eot'),
		 url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype');
         
    font-weight: 500;
    font-style: normal;

}

/* Semibold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot'),
		 url('../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype');
          
    font-weight: 500;
    font-style: italic;
}

/* Semibold */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    src: url('../fonts/OpenSans-Semibold-webfont.eot'),
		 url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype');
         
    font-weight: bold;
    font-style: normal;

}


/* Bold */
/*
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    src: url('../fonts/OpenSans-Bold-webfont.eot'),
		 url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         
    font-weight: bolder;
    font-weight: 700;
    font-style: normal;


}
*/

/* Bold Italic */
/*
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot'),
		 url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype');
         
    font-weight: bolder;
    font-weight: 700;
    font-style: italic;

}
*/

/* Extra Bold */
/*
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot'),
		 url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype');
         
    font-weight: 900;
    font-style: normal;

}
*/

/* Extra Bold Italic */
/*
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot'),
		 url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype');
         
    font-weight: 900;
    font-style: italic;

}
*/




@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3'), 
  	   url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), 
	   url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), 
	   url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype') ;
  font-weight: normal;
  font-style: normal;
}
@font-face{
	font-family:'Glyphicons Halflings';
	src:url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
	src:url('../fonts/glyphicons-halflings-regular.eot'), 
		url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
		url('../fonts/glyphicons-halflings-regular.ttf') format('truetype');
}
@font-face {
	font-family: 'entypo';
	src:url('../fonts/entypo.svg#entypo') format('svg');
	src:url('../fonts/entypo.eot'),
	    url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
		url('../fonts/entypo.ttf') format('truetype'),
		url('../fonts/entypo.woff') format('woff');
		
	font-weight: normal;
	font-style: normal;
}
.badge{
-webkit-transform:scale(0.83);
}
.input-group-btn .btn{
	height:38px;
}
.colorpicker .colorpicker_hex input, .colorpicker .colorpicker_field input{
	height:17px;
	margin-top:-4px;
}
 .colorpicker .colorpicker_field input{
	 width: 28px;
 }