
body{
    line-height: 20px!important;
}
/*global css*/

.z-index{
    z-index: 9999;
}

.mg-xs-20{
    margin: 20px auto;
}

.mg-xs-30{
    margin: 30px auto;
}

.mg-xs-50{
    margin: 50px auto;
}

.bg-grey{
    background-color: #9e9b9b;
}


/* css for changing color to #0097ff */
 .login-layout a a:hover{
     color:#0097ff ;
 }

.btn.vd_bg-green:hover, .btn.vd_green:hover,.vd_bg-green{
    background-color: #0097ff !important
}

.vd_bg_grey{
    background-color: #f2f2f2 !important;
    color:#5d5d5d !important;
}
a.vd_bg_grey:hover{
    background-color: #5d5d5d !important;
    color:white !important;
}
.vd_content-wrapper {
    background-color: white !important;
}
.vd_mega-menu-wrapper .vd_mega-menu>.mega-ul>.mega-li {

    color:#5d5d5d !important;
}
.vd_mega-menu-wrapper .vd_mega-menu>.mega-ul>.mega-li>a {

    color:#5d5d5d !important;
}
.vd_bg_cust {
    background-color: #0097ff !important;
}
.cust-link {
    color: #0097ff !important;

}
.white-link{
    color: white !important;

}
.vd_title-section {
    background-color: white !important;
    border-top: 1px solid white !important;
    border-bottom: 1px solid white !important;
}



.change-icon > .fa + .fa,
.change-icon:hover > .fa {
    display: none;
}
.change-icon:hover > .fa + .fa {
    display: inherit;
}

.panel .title-cust {
    height: 20px;
}
/* addProduct.css */
.vd_panel-menu {

    margin-right: -20px !important;
}
.main-title{
    color: grey;
    padding: 10px;
}
.vd_panel-menu {
    left: 0;
}
header .vd_top-nav .vd_panel-header .logo {
    padding: 6px 6px 6px 20px;
}
.panel-heading .panel-title .menu-icon a{
    color:white !important;
}

.vd_panel-menu {
    position: relative!important;
}
.vd_title-section .vd_panel-menu>.menu.customMnenu {
    padding: 10px !important;
    background-color: #f2f2f2 !important;
    color: #5d5d5d !important;
    float: right;
    right: 10px;
}
.form-wizard.condensed .nav>li.active>a, .form-wizard.condensed .nav>li.active>a:hover, .form-wizard.condensed .nav>li.active>a:focus {
    background: #0097ff!important;

}
.panel-bd-left {
    border-left: 2px solid #0097ff !important;
}
.categories-scroll{
    height: 200px;
    overflow-x: hidden;
    direction: ltr;


}

.categories-scroll ul{
    list-style: none;
}

.checkbox input[type=checkbox]{
    margin-left: 20px;
}

.categories-scroll .radio label, .checkbox label {
    padding-right: 10px;
}

#specific_price_table thead tr th{
    text-align: right;
}
#imageTable thead tr th{
    text-align: right;
}



/*file-upload*/
.fileInput{
    margin: 0 !important;
}


/* css RTL */
.rtl{
    direction: rtl !important;
    text-align: right !important;
}
.vd_back-top {
    left:0 !important;
    background: #0097ff !important;
}
.vd_title-section h1 {
    float: right;
    padding-left: 180px;
    padding-right: 0 !important;
    margin:20px;
}
.vd_navbar .navbar-menu .vd_panel-menu {
    left: 12px;
    right: 0!important;

}
.menu-icon{
    float: right !important;
    margin-left: 15px;
    margin-right: 0 !important;

}
.menu-badge {
    float: left !important;
}
.navbar-menu .menu-title {
    direction: rtl;
}

.vd_menu li {
    text-align: right;
}
.form-rtl{
    float: right !important;
}

.modal-header {
    min-height: 50px !important;
}
.modal-header .close{
    float: left !important;
    margin: 0 !important;
}
.modal-header .modal-title{
    float: right;
}

/* custom bootstrap */
.mt-40{
    margin-top: 40px;
}
.mt-0{
    margin-top: 0 !important;
}
.mt-1{
    margin-top: .25rem !important;
}
.mt-2{
    margin-top: .5rem !important;
}
.mt-3{
    margin-top: 1rem !important;
}
.mt-4{
    margin-top: 1.5rem !important;
}
.mt-5{
    margin-top: 3rem !important;
}
.mt-40{
    margin-top: 40px;
}
.ml-0{
    margin-left: 0 !important;
}
.ml-1{
    margin-left: .25rem !important;
}
.ml-2{
    margin-left: .5rem !important;
}
.ml-3{
    margin-left: 1rem !important;
}
.ml-4{
    margin-left: 1.5rem !important;
}
.ml-5{
    margin-left: 3rem !important;
}
.mr-0{
    margin-right: 0 !important;
}
.mr-1{
    margin-right: .25rem !important;
}
.mr-2{
    margin-right: .5rem !important;
}
.mr-3{
    margin-right: 1rem !important;
}
.mr-4{
    margin-right: 1.5rem !important;
}
.mr-5{
    margin-right: 3rem !important;
}
.mb-0{
    margin-bottom: 0 !important;
}
.mb-1{
    margin-bottom: .25rem !important;
}
.mb-2{
    margin-bottom: .5rem !important;
}
.mb-3{
    margin-bottom: 1rem !important;
}
.mb-4{
    margin-bottom: 1.5rem !important;
}
.mb-5{
    margin-bottom: 3rem !important;
}
.pl-1{
    padding-left: .25rem !important;;
}
.mgbt-xs-50{
    margin-bottom: 50px;
}

/* DataTable */
.pagination a{
    color: #0097ff !important;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {

    color: #fff !important;
    background-color: #0097ff !important;
    border-color: #0097ff !important ;


}

/* expanded cart/ vendor page */
.vd_title-section .vd_panel-menu>.menu {
    padding: 0 !important;
    background-color: #777 !important;
    color:white !important;
    float: right;
    right: 10px;
}

/*option-page*/
.disInput{
    border: none!important;
    background-color: white !important;
    width: 40%!important;
}
.tag .tag-close-icon {
    display: block;
    width: 14px;
    margin: 0 5px 0 0;
    height: 14px;
    line-height: 14px;
    text-align: center;
    font-size: 14px;
    margin-left: 10px;
    color: #0097ff;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}





